body{
    max-width: 50em;
    margin: 0 auto;
    background-color: rgb(225, 236, 225);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav a{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    color: brown;
}